.btn{

    display:inline-flex;

    justify-content:center;

    align-items:center;

    gap:12px;

    padding:16px 28px;

    border-radius:14px;

    transition:.35s;

    font-weight:600;

}

.btn-primary{

    background:#0A4EA3;

    color:white;

}

.btn-primary:hover{

    background:#083B7D;

    transform:translateY(-2px);

}

.card{

    border-radius:24px;

    backdrop-filter:blur(20px);

}